<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ikemura.com.simanchu"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="ikemura.com.simanchu.common.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="ikemura.com.simanchu.ui.top.TopActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ikemura.com.simanchu.ui.list.SpotListActivity"
            android:label="@string/title_item_list"
            />
        <activity
            android:name="ikemura.com.simanchu.ui.detail.SpotDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="ikemura.com.simanchu.ui.list.SpotListActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ikemura.com.simanchu.ui.list.SpotListActivity"
                />
        </activity>
        <activity
            android:name="ikemura.com.simanchu.ui.fullscreen.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme"
            />
    </application>

</manifest>